.task-view {
  min-height: 750px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex-grow: 1;
}

.button-group {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: end;
}
